@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins' ;

}
.fa-cart-plus{
    margin-right: 30px;
}
.product_container{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position:sticky;
    top: 0;
    z-index: 999;
    margin-top: 20px;
    




}
header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    max-width: 1300px;
    width: 100%;
    align-items: center;
   
    padding: 20px 0;
}
header .icon_cart{
    position: relative;
}
header .icon_cart span{
    display: flex;
    width:30px ;
    height: 30px;
    justify-content:center;
    align-items: center;
    background-color: #ff0844;
    color: white;
    border-radius: 50%;
    position: absolute;
    top:10%; 
    right: -0.5px;
    
}


